.form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
}

.form__input {
    border: 1px solid #ddd;
    padding: 10px;
    flex-grow: 1;
    font-weight: 500;
}

.form__button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 15px;
    transition: background 1s, transform 1s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
        margin: 15px 0;
    }
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}