.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background-color: white;
    margin: 10px;
    color: hsl(180, 100%, 25%);
    border: none;
    transition: color 1s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
    }
}

.buttons__button:hover {
    color: hsl(180, 100%, 40%);
}

.buttons__button:disabled {
    color: #ccc;
}